<div ng-app="app" ng-controller="HomeController">
  <div class="jumbotron text-center">
        <!-- img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" /-->
        <h1>HR Resume Application</h1>
      </div>
  </div>
  <div>
    <button ng-click="searchSkillset()">Search</button>
    <input type="text" class="form-control" placeholder="Search" ng-model="searchFilter" />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Applicant Name</th>
        <th>Filename</th>
        <th>Skillset</th>
        <th>Eligibility</th>
        <th>Relocation</th>
        <th>Notice</th>
        <th>Salary</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in files">
        <td> {{file.metadata.name}}</td>
        <td>{{file.name}}</td>
        <td> {{file.tags.join(",")}}</td>
        <td> {{file.metadata.eligible}}</td>
        <td> {{file.metadata.relocate}}</td>
        <td> {{file.metadata.notice}}</td>
        <td> {{file.metadata.salary}}</td>
        <td> {{file.metadata.notes}}</td>
      </tr>
    </tbody>
  </table>
  </div>