<div ng-app="app" ng-controller="HomeController">
  <div class="text-center row">
        <!-- img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" /-->
        <h1>NWTA Workday Resumes</h1>
      </div>
  </div>
  <div class="row">
    <div class="input-group">
    <tags-input class="ti-input-lg" ng-model="tags"></tags-input>
    <span class="input-group-btn">
      <button class="btn btn-lg btn-default" ng-click="search()">Search</button>
    </span>
    </div>
  </div>
  <div class="row" ng-repeat="file in files">
    <div class="col-md-4">
      <iframe ng-src="{{file.trustedUrl}}" ></iframe>
    </div>
    <div class="col-md-8">
      <blockquote>{{file.metadata.name}}</blockquote>
        <!--<blockquote>{{file.name}}</blockquote>-->
      <blockquote> {{file.tags.join(",")}}</blockquote>
      <blockquote> {{file.metadata.eligible}}</blockquote>
      <blockquote> {{file.metadata.relocate}}</blockquote>
      <blockquote> {{file.metadata.notice}}</blockquote>
      <blockquote> {{file.metadata.salary}}</blockquote>
      <blockquote> {{file.metadata.notes}}</blockquote>
    </div>
  </div>
  
  
  <!--<table class="table table-bordered">
    <thead>
      <tr>
        <th>Applicant Name</th>
        <th>Filename</th>
        <th>Skillset</th>
        <th>Eligibility</th>
        <th>Relocation</th>
        <th>Notice</th>
        <th>Salary</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="file in files">
        <td> {{file.metadata.name}}</td>
        <td>{{file.name}}</td>
        <td> {{file.tags.join(",")}}</td>
        <td> {{file.metadata.eligible}}</td>
        <td> {{file.metadata.relocate}}</td>
        <td> {{file.metadata.notice}}</td>
        <td> {{file.metadata.salary}}</td>
        <td> {{file.metadata.notes}}</td>
      </tr>
    </tbody>
  </table>-->
</div>